.app {
  color: whitesmoke;
}
.container {
  max-width: 1167px;
  margin: 0 auto;
  padding: 104px 20px 0;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  height: 64px;
  background-color: black;
}
