.btn {
  background-color: rgb(24, 198, 131);
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: 0.2s;
  &:hover {
    transform: translateY(-2px);
  }
}

@media (max-width: 768px) {
  .btn {
    font-size: 12px;
    padding: 3px 10px;
  }
}
