.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1167px;
  padding: 0 40px;
}
.popular {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
