table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-radius: 20px 0 0 0;
  color: whitesmoke;
  .link {
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

thead {
  font-size: 14px;
  tr {
    background: rgba(0, 0, 0);
    th {
      padding: 12px 10px;
    }
    :first-child {
      border-radius: 5px 0 0 0;
    }
    :nth-child(2) {
      width: 15%;
      text-align: left;
    }
  }
}

tbody {
  font-size: 14px;
  background: rgb(54, 54, 54);
  tr {
    border: 1px solid rgba(0, 0, 0, 0.4);
    td {
      padding: 8px;
      text-align: center;
    }
    :nth-child(2) {
      text-align: left;
    }
  }
  :hover td {
    background: rgba(0, 0, 0, 0.4);
    transition: 0.4s;
  }
}
