.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-radius: 20px 0 0 0;
  color: whitesmoke;
  .link {
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  thead {
    font-size: 14px;
    tr {
      background: rgba(0, 0, 0);
      th {
        padding: 12px 10px;
      }
      :first-child {
        border-radius: 10px 0 0 0;
      }
      :nth-child(2) {
        width: 15%;
        text-align: left;
      }
    }
  }
  tbody {
    font-size: 14px;
    background: rgb(54, 54, 54);
    tr {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      td {
        padding: 12px 0;
        text-align: center;
      }
      :nth-child(2) {
        text-align: left;
      }
    }
    :hover td {
      background: rgba(0, 0, 0, 0.4);
      transition: 0.4s;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  & > button {
    border-radius: 20px;
    font-weight: bold;
    padding: 10px 20px;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  .label {
    margin-right: 20px;
  }
  .input {
    padding: 3px 7px;
    width: 100px;
  }
  .btnWrap {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .table {
    thead {
      font-size: 12px;
      tr {
        :first-child {
          border-radius: unset;
          text-align: left;
        }
        :not(:first-child) {
          width: unset;
          text-align: right;
        }
      }
    }
    tbody {
      font-size: 12px;
      tr {
        td {
          padding: 12px 10px;
        }
        :first-child {
          text-align: left;
        }
        :not(:first-child) {
          width: unset;
          text-align: right;
        }
      }
    }
  }
}
